.form {
    font-size: 13px;
    padding: 8px 10px;
    display: flex;
    max-width: 400px;
    width: 100%;
    flex-wrap: wrap;
    text-align: left;
    &__input {
        display: block;
        padding-left: 5px;
        color: darkGrey;
        background-color: #fdfcfc;
        margin-top: 5px;
        height: 30px;
        border-radius: 3px;
        width: 100%;
    }
    &__label {
        display: block;
        margin-bottom: 20px;
        margin-top: 7px;
        font-weight: bold;
        color: darkGrey;
        width: 100%;
        
        
    }
    &__textarea{
        display: block;
        margin-bottom: 20px;
        margin-top: 7px;
        font-weight: bold;
        color: darkGrey;
        width: 100%;
    }


}



